.navbar-brand {
    font-weight: 600;
}

.navbar-brand span {
    font-size: 1.875rem;
}

.navIcon  {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    font-size: 1.25rem;;
    position: relative;
    top: 0.1875rem;
}

